html {
  font-size: 62.5%;
}

body {
  color: black;
  background-color: white;
  line-height: $lineheight;
}

p, ul, ol, dl {
  font-size: $fontsize;
  margin-bottom: $fontsize * 1.5;
  line-height: 1.4;
}

hr {
  margin: $fontsize 0 $fontsize 0;
}
h1, h2, h3, h4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: $lineheight + 0.05;
}
h1 {
  font-size: $fontsize * 1.35 * 1.35 * 1.35 * 1.35;
  margin-bottom: $lineheight * 10px;
}

h2 {
  font-size: $fontsize * 1.35 * 1.35 * 1.35;
  margin-bottom: $lineheight * 10px;
}

h3 {
  font-size: $fontsize * 1.35 * 1.35;
  margin-bottom: $lineheight * 8.5px;
}

h4 {
  font-size: $fontsize * 1.35;
  margin-bottom: $lineheight * 8.5px;
}

