@import 'reset';
@import 'variables';
@import 'typography';

* {
  -webkit-box-sizing: border-box; /* iOS <= 4 i Android <= 2.3 */
  -moz-box-sizing: border-box; /* Firefox */
  box-sizing: border-box; /* Chrome, Opera, Safari 5+ i IE 8+ */
}

body {
  background-color: $motive;
  color: white;
  font-family: 'Merriweather', serif;
}

img {
  max-width: 100%;
}

.container {
  @media(max-width: 772px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  padding: 50px 15px;
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.nav-wrapper {
  width: 100%;
  background-color: white;
  color: $motive;
  position: fixed;
  top: 0;
  z-index: 200;
}

.navbar {
  min-height: 60px;
  width: 90%;
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: $motive;
  a {
    color: inherit;
    text-decoration: none;
  }
  .logo {
    margin-top: 7px;
    margin-bottom: 0;
    width: 70px;
    height: auto;
  }
  .navlinks {
    line-height: inherit;
    margin-bottom: inherit;
  }
}

.navbar.mobile {
  display: flex;
  flex-flow: column;
  .navlinks {
    display: block;
  }
}

.navlinks {
  display: flex;
  align-items: center;
  margin-right: 50px;

  li {
    margin-right: 5px;
    margin-left: 5px;
    @media(max-width: 768px) {
      &:first-child {
        margin-top: 10px;
      }
    }
    a {
      color: $motive;
      text-decoration: none;
      transition: 0.2s ease;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 3px;
      margin-bottom: 3px;
      display: inline-block;

      &:hover {
        color: lighten($motive, 50%);
      }
    }
  }
}

@media(min-width: 768px) {
  .hamburger {
    display: none;
  }
}

@media(max-width: 768px) {
  .navlinks {
    display: none;
  }
  .hamburger {
    width: 44px;
    height: 44px;
    background-color: $motive;
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-right: 7px;
  }
}

.text-center {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.half-width {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  @media(min-width: 768px) {
    width: 50%;
  }
}

main {
  padding-top: 50px;
}

.hero-img {
  width: 100%;
  background-size: cover;
  background: url("https://static.pexels.com/photos/25831/pexels-photo-25831.jpg") fixed 50% 50%;
  padding-top: 100px;
  padding-bottom: 100px;
  @media(min-width: 1366px) {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}

.middle-img-section {
  @media(min-width: 1366px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("https://images.pexels.com/photos/277431/pexels-photo-277431.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.more-info {
  background-color: white;
  color: $motive;
}

.watches-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  li {
    flex: 1;
    background-color: rgba(5, 5, 5, 0.2);
    margin: 10px;
    position: relative;
  }
  .price {
    background-color: #1b6d85;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 772px) {
  .watches-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1000px) {
  .watches-list {
    li {
      width: calc(100% / 3);
    }
  }
}
.watch-wrapper {
  text-align: center;
  padding: 20px 20px;
  margin: 10px;
  border-radius: 5px;

   img {
    max-width: 225px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }
  h4 {
    text-align: center;
  }
  p {
    text-align: left;
    margin-top: 10px;
  }
}