/* line 1, ../sass/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 5, ../sass/_typography.scss */
body {
  color: black;
  background-color: white;
}

/* line 10, ../sass/_typography.scss */
p, ul, ol, dl {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}

/* line 16, ../sass/_typography.scss */
hr {
  margin: 1.6rem 0 1.6rem 0;
}

/* line 19, ../sass/_typography.scss */
h1, h2, h3, h4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

/* line 23, ../sass/_typography.scss */
h1 {
  font-size: 3.90625rem;
  line-height: 4.68rem;
  margin-top: 3.24rem;
  margin-bottom: 2.4rem;
}

/* line 30, ../sass/_typography.scss */
h2 {
  font-size: 3.125rem;
  line-height: 3.96rem;
  margin-top: 3.24rem;
  margin-bottom: 2.4rem;
}

/* line 37, ../sass/_typography.scss */
h3 {
  font-size: 2.5rem;
  line-height: 3.6rem;
  margin-top: 2.76rem;
  margin-bottom: 2.04rem;
}

/* line 44, ../sass/_typography.scss */
h4 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 2.76rem;
  margin-bottom: 2.04rem;
}

/* line 4, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  /* iOS <= 4 i Android <= 2.3 */
  -moz-box-sizing: border-box;
  /* Firefox */
  box-sizing: border-box;
  /* Chrome, Opera, Safari 5+ i IE 8+ */
}

/* line 10, ../sass/screen.scss */
body {
  background-color: #171e25;
  color: white;
  font-family: 'Merriweather', serif;
}

/* line 16, ../sass/screen.scss */
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 25, ../sass/screen.scss */
.nav-wrapper {
  width: 100%;
  background-color: white;
  color: #171e25;
  position: fixed;
  top: 0;
}

/* line 33, ../sass/screen.scss */
.navbar {
  min-height: 60px;
  width: 90%;
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  color: #171e25;
}
/* line 46, ../sass/screen.scss */
.navbar .logo {
  margin-top: 7px;
  margin-bottom: 0;
}
/* line 50, ../sass/screen.scss */
.navbar .navlinks {
  line-height: inherit;
  margin-bottom: inherit;
}

/* line 56, ../sass/screen.scss */
.navbar.mobile {
  display: flex;
  flex-flow: column;
}
/* line 59, ../sass/screen.scss */
.navbar.mobile .navlinks {
  display: block;
}

/* line 64, ../sass/screen.scss */
.navlinks {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
/* line 69, ../sass/screen.scss */
.navlinks li {
  margin-right: 5px;
  margin-left: 5px;
}
@media (max-width: 768px) {
  /* line 74, ../sass/screen.scss */
  .navlinks li:first-child {
    margin-top: 10px;
  }
}
/* line 78, ../sass/screen.scss */
.navlinks li a {
  color: #171e25;
  text-decoration: none;
  transition: 0.2s ease;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: inline-block;
}
/* line 88, ../sass/screen.scss */
.navlinks li a:hover {
  color: #879eb4;
}

@media (min-width: 768px) {
  /* line 96, ../sass/screen.scss */
  .hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 102, ../sass/screen.scss */
  .navlinks {
    display: none;
  }

  /* line 105, ../sass/screen.scss */
  .hamburger {
    width: 44px;
    height: 44px;
    background-color: #171e25;
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-top: 7px;
    margin-right: 7px;
  }
}
/* line 118, ../sass/screen.scss */
.text-center {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
}

/* line 124, ../sass/screen.scss */
.full-width {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 130, ../sass/screen.scss */
.half-width {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  /* line 130, ../sass/screen.scss */
  .half-width {
    width: 50%;
  }
}

/* line 139, ../sass/screen.scss */
main {
  padding-top: 50px;
}
