/* line 1, ../sass/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 5, ../sass/_typography.scss */
body {
  color: black;
  background-color: white;
  line-height: 1.4;
}

/* line 11, ../sass/_typography.scss */
p, ul, ol, dl {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  line-height: 1.4;
}

/* line 17, ../sass/_typography.scss */
hr {
  margin: 1.6rem 0 1.6rem 0;
}

/* line 20, ../sass/_typography.scss */
h1, h2, h3, h4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 1.45;
}

/* line 25, ../sass/_typography.scss */
h1 {
  font-size: 5.31441rem;
  margin-bottom: 14px;
}

/* line 30, ../sass/_typography.scss */
h2 {
  font-size: 3.9366rem;
  margin-bottom: 14px;
}

/* line 35, ../sass/_typography.scss */
h3 {
  font-size: 2.916rem;
  margin-bottom: 11.9px;
}

/* line 40, ../sass/_typography.scss */
h4 {
  font-size: 2.16rem;
  margin-bottom: 11.9px;
}

/* line 4, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  /* iOS <= 4 i Android <= 2.3 */
  -moz-box-sizing: border-box;
  /* Firefox */
  box-sizing: border-box;
  /* Chrome, Opera, Safari 5+ i IE 8+ */
}

/* line 10, ../sass/screen.scss */
body {
  background-color: #171e25;
  color: white;
  font-family: 'Merriweather', serif;
}

/* line 16, ../sass/screen.scss */
img {
  max-width: 100%;
}

/* line 20, ../sass/screen.scss */
.container {
  padding: 50px 15px;
  width: 90%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 772px) {
  /* line 20, ../sass/screen.scss */
  .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

/* line 32, ../sass/screen.scss */
.nav-wrapper {
  width: 100%;
  background-color: white;
  color: #171e25;
  position: fixed;
  top: 0;
}

/* line 40, ../sass/screen.scss */
.navbar {
  min-height: 60px;
  width: 90%;
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #171e25;
}
/* line 53, ../sass/screen.scss */
.navbar a {
  color: inherit;
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
.navbar .logo {
  margin-top: 7px;
  margin-bottom: 0;
  width: 70px;
  height: auto;
}
/* line 63, ../sass/screen.scss */
.navbar .navlinks {
  line-height: inherit;
  margin-bottom: inherit;
}

/* line 69, ../sass/screen.scss */
.navbar.mobile {
  display: flex;
  flex-flow: column;
}
/* line 72, ../sass/screen.scss */
.navbar.mobile .navlinks {
  display: block;
}

/* line 77, ../sass/screen.scss */
.navlinks {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
/* line 82, ../sass/screen.scss */
.navlinks li {
  margin-right: 5px;
  margin-left: 5px;
}
@media (max-width: 768px) {
  /* line 86, ../sass/screen.scss */
  .navlinks li:first-child {
    margin-top: 10px;
  }
}
/* line 90, ../sass/screen.scss */
.navlinks li a {
  color: #171e25;
  text-decoration: none;
  transition: 0.2s ease;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  display: inline-block;
}
/* line 100, ../sass/screen.scss */
.navlinks li a:hover {
  color: #879eb4;
}

@media (min-width: 768px) {
  /* line 108, ../sass/screen.scss */
  .hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  /* line 114, ../sass/screen.scss */
  .navlinks {
    display: none;
  }

  /* line 117, ../sass/screen.scss */
  .hamburger {
    width: 44px;
    height: 44px;
    background-color: #171e25;
    position: absolute;
    right: 0;
    cursor: pointer;
    margin-right: 7px;
  }
}
/* line 128, ../sass/screen.scss */
.text-center {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
}

/* line 134, ../sass/screen.scss */
.full-width {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 140, ../sass/screen.scss */
.half-width {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  /* line 140, ../sass/screen.scss */
  .half-width {
    width: 50%;
  }
}

/* line 149, ../sass/screen.scss */
main {
  padding-top: 50px;
}

/* line 153, ../sass/screen.scss */
.hero-img {
  width: 100%;
  background-size: cover;
  background: url("https://static.pexels.com/photos/25831/pexels-photo-25831.jpg") fixed 50% 50%;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 1366px) {
  /* line 153, ../sass/screen.scss */
  .hero-img {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}

/* line 165, ../sass/screen.scss */
.middle-img-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("https://images.pexels.com/photos/277431/pexels-photo-277431.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
@media (min-width: 1366px) {
  /* line 165, ../sass/screen.scss */
  .middle-img-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

/* line 178, ../sass/screen.scss */
.more-info {
  background-color: white;
  color: #171e25;
}

/* line 183, ../sass/screen.scss */
.watches-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}
/* line 188, ../sass/screen.scss */
.watches-list li {
  flex: 1;
  background-color: rgba(5, 5, 5, 0.2);
  margin: 10px;
  position: relative;
}
/* line 194, ../sass/screen.scss */
.watches-list .price {
  background-color: #1b6d85;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 772px) {
  /* line 205, ../sass/screen.scss */
  .watches-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1000px) {
  /* line 213, ../sass/screen.scss */
  .watches-list li {
    width: calc(100% / 3);
  }
}
/* line 218, ../sass/screen.scss */
.watch-wrapper {
  text-align: center;
  padding: 20px 20px;
  margin: 10px;
  border-radius: 5px;
}
/* line 224, ../sass/screen.scss */
.watch-wrapper img {
  max-width: 225px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
/* line 231, ../sass/screen.scss */
.watch-wrapper h4 {
  text-align: center;
}
/* line 234, ../sass/screen.scss */
.watch-wrapper p {
  text-align: left;
  margin-top: 10px;
}
